// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display:-webkit-box; //--- Androidブラウザ用 ---
  display:-ms-flexbox; //--- IE10 ---
  display: -webkit-flex; //--- safari（PC）用 ---
  display: flex;
  width: 1150px;
  margin: 0 auto;
}

.header-container {
  border-bottom: 1px solid #ebedef;
  height: 62px;
  width: 1150px;
  margin:  0px auto 20px;
  .header-container__logo {
    font-family: "Lucida Grande";
    width: 20%;
    display: inline-block;
    padding-left: 30px;
  }
}

//レイアウト
.c-main {
  width: 850px;
  position: relative;
}

.c-side {
  width: 300px;
  border-right: 1px solid #ebedef;
}
