// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display:-webkit-box; //--- Androidブラウザ用 ---
  display:-ms-flexbox; //--- IE10 ---
  display: -webkit-flex; //--- safari（PC）用 ---
  display: flex;
  width: 1150px;
  margin: 0 auto;
  border: 1px solid black;
}


//レイアウト
.c-main {
  width: 850px;
  border: 1px solid red;
}

.c-side {
  width: 300px;
  border: 1px solid red;
}

// ストックした投稿リスト
.stock-item {
  display:-webkit-box; //--- Androidブラウザ用 ---
  display:-ms-flexbox; //--- IE10 ---
  display: -webkit-flex; //--- safari（PC）用 ---
  display: flex;
  margin: 0 auto;
  min-height: 70px;
  width: 100%;
  padding-top: 10px;
  position: relative;
  border-bottom: 2px #ddd solid;
}

.stock-item__user-profile-image {
  position: absolute;
  img {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
    display: block;
    height: 40px;
    width:  40px;
    margin-left: 10px;
  }
}

.stock-item__right {
  position: relative;
  margin-left: 60px;
  .stock-item__user {
    padding-left: 10px;
  }
  .stock-item__title {
    padding-left: 10px;
  }
}

.stock-item__user {
  padding: 0 30;
  font-size: 12px;
}

.stock-item__title {
  font-size: 16px;
  font-weight: bold;
}


//TODO: hoverしたら全体を555にしたい
.left-arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid #dfdfdf;
}

.tag-list__item-wrap {
  display: inline-flex;
  margin-left: 5px;
}

.tag-list__item {
  background-color: #dfdfdf;
  line-height: 1;
  padding: 0px 7px 0px 2px;
}

//検索フィルター全体
.stock-filter-index {
  width: 80%;
  margin: 0 auto;
  h5 {
    border-bottom: 1px #ddd solid;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 0px;
    width: 90%;
    margin: 0 auto;

  }
}

.stock-index-filter-option {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.stock-index-filter-option__item-wrapper {
  width: 90%;
}

.ui-checkbox input {
  display: none;
}

.stock-index-filter-option__check-icon {
  position: absolute;
  top: 15%;
  display: inline-block;
  width: 13%;
}

.stock-index-filter-option__image {
  position: relative;
  left: 10%;
  display: inline-block;
  width: 13%;
  img {
    width:   100%;
  }
}

.stock-index-filter-option__label {
  position: absolute;
  left: 45px;
  top: 0;
  display: inline-block;
  width: 60%;
  font-size: 14px;
  padding: 0px 0px 0px 5px;
  line-height: 26px;
}

.stock-index-filter-option__label:hover {
  background-color: lightgray;
  cursor: pointer;
}



.stock-index-filter-option__item {
  position: relative;
  width: 90%;
  margin-left: 15%;
  min-height: 20px;
  padding-bottom: 10px;
}
